.stickiers{
    position: absolute;
    //  position: fixed;
    z-index: 5;
    right: 0px;
    top: 250px;
    text-align: right;
     @media #{$lg} {
        top: 200px;
    }
    @media #{$md} {
        top: 190px;
    }
    @media #{$sm} {
        top:145px
    }
     @media #{$xs} {
        top:160px
    }
}
.stickiers.active{
    position: fixed;
    z-index: 5;
    top: 80px;

    .stickier{
        margin-bottom: 10px;
        .wraper{
            span{
                font-size: 12px;
            }
        }
    }
}
.stickier{
    margin-bottom: 60px;
     @media #{$lg} {
        margin-bottom: 20px;
     }
    @include trans;
    .wraper{
        @include trans;
        background-color: $main;
        background-image: url('../img/bg-st.png');
         padding: 10px;
        display: inline-block;
        position: relative;
         @media #{$lg} {
            padding: 5px;
         }
         @media #{$sm} {
            padding:2px 5px 2px 2px;
         }
        &:before{
            content:"";
            position: absolute;
            top:0px;
            left: -30px;
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-right: 30px solid #95050a;
            border-bottom: 36px solid transparent;
             @media #{$lg} {
                 border-bottom: 26px solid transparent;
             }
             @media #{$sm} {
                left: -10px;
                border-top: 16px solid transparent;
                border-right: 10px solid #95050a;
                border-bottom: 19px solid transparent;
             }
        }
        img{
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
             @media #{$sm} {
                margin-right: 2px;
                width: 30px;
                padding: 0;
                height: 30px;
             }
        }
        span{
            @include trans;
            vertical-align: middle;
            display: inline-block;
            font-weight: 700;
            font-size: 18px;
            color:#fff;
            @media #{$lg} {
                font-size: 12px;
            }
            @media #{$sm} {
                font-size: 12px;
            }
            br{
                display: none;
                // @media #{$sm} {
                //     display: block;
                // }
            }
        }
    }
    &:hover{
        .wraper{
            padding-right: 50px;
        }
    }
}

