// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1200px)";
$xlg: "only screen and (max-width: 1400px)";

$main: #900000;
$black: #0a0a0a;
$gray: #f1f1f1;
$p: #626161;
