.news-section{
    padding: 50px 0;
    *{
        color:#fff;
    }
    .news{
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            width: 25%;
            @media #{$lg} {
                width: 50%;
            }
            @media #{$sm} {
                width: 100%;
            }
            article{
                text-align: center;
                padding: 20px;
                @include trans;
                .img{
                    margin-bottom: 30px;
                    position: relative;
                    overflow: hidden;
                    img{
                        @include trans;
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                    &:after{
                         @include trans;
                        content:"";
                        position: absolute;
                        z-index: 3;
                        width: 80%;
                        height: 3px;
                        background-color: $main;
                        bottom: 0px;
                        left: 50%;
                        transform: translate(-50%, 0);

                    }
                }
               
                .content{
                    padding: 0 20px;
                    h3{
                        font-size: 21px;
                        font-weight:300;
                        font-weight: 24px;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 30px;
                        @include trans;
                    }
                    p{
                        font-size: 12px;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 30px;
                    }
                    a{
                        color:$main
                    }
                }
                 &:hover{
                    // box-shadow: 0 0 24px 0px rgba(255, 255, 255, .26);
                    @include shadow;
                    background-color: #161616;
                    .img{
                        img{
                            transform: scale(1.03);
                        }
                        &:after{
                            width: 100%;
                            
                        }
                    }
                    .content{
                        h3{
                            color:$main;
                        }
                    }
                }
            }
        }
    }
    .section-title{
        margin-bottom: 100px;
        h2{
            font-size: 48px;
            font-weight: 300;
            margin: 0;
            padding: 0;
             @media #{$xs} {
                font-size: 31px;
             }
        }
        .sep__section-title{
                margin-top: 50px;
                display: block;
            span{
                display: block;
                width: 44px;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.2);
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                &:before, &:after{
                    content:"";
                    position: absolute;
                    height: 1px;
                    width: 34px;
                    background-color: rgba(255, 255, 255, 0.2);
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                &:before{
                    top: -10px;
                }
                &:after{
                    bottom: -10px;
                }
            }
        }
    }
}